// PATAGONIAN KNOT
$background-patag-knot: #f1f1f1;
$primary-patag-knot: #08645e;
$secondary-patag-knot: #bd4342;
$text-patag-knot: #000000;

// TIERRA DEL FUEGO
$primary-tdf: #B58A47;
$secondary-tdf: #4682B4;
$background-tdf: #F5F5F5;
$text-tdf: #2F4F4F;

// DARK
$primary-dark: #FFFFFF;
$secondary-dark: #E8E8E8;
$background-dark: #3f3f2f;
$text-dark: #f0f0f0;

// NEON NIGHT
$primary-neon-night: #FF00FF;
$secondary-neon-night: #00FFFF;
$background-neon-night: #000000;
$text-neon-night: #FFFFFF;
