$background: #f1f1f1;
$primary: #08645e;
$secondary: #bd4342;

$background-color: #f1f1f1;
$primary-color: #08645e;
$primary-dark-color: #064541;
$secondary-color: #bd4342;
$secondary-dark-color: #9A3938;
$text-color: #000000;
