.btn-primary{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 0.2rem solid var(--text-color);
    padding: 0.5rem 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-align: center;  
    vertical-align: top;
    display: inline-table;

    &:hover{
        background-color: var(--primary-dark-color);
        cursor: pointer;
    }
}

.btn-secondary{
    background-color: var(--background-color);
    color: var(--text-color);
    border: 0.2rem solid var(--secondary-color);
    padding: 0.5rem 1rem;

    &:hover{
        border: 0.2rem solid var(--secondary-dark-color);
        cursor: pointer;
    }
}
