@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  width: 100vw;
  height: 100vh;
}

#__nuxt, html {
  background-color: $background;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: $primary;
  font-family: 'Space Grotesk', sans-serif;
  padding-top: 1em;
}

h2 {
  color: $secondary;
  font-family: 'Space Grotesk', sans-serif;
}

h3 {
  color: $secondary;
  font-family: 'Space Grotesk', sans-serif;
}

p {
  color: $primary;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: black;
}

a:hover{
  color: $secondary;

}

a{
  text-decoration: none;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1em;
}

.page-summary{
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border: 1px solid $primary;

  .page-summary-tldr{
    font-size: large;
    font-weight: bolder;
    color: $secondary;
  }
}